body {
  text-align: center;
  background :linear-gradient(darkslategray,cadetblue);
  padding-bottom: 430px;
}
h1 {
  color: lightcoral;
  font-family: 'Black Ops One', Arial, Helvetica, sans-serif;
  font-size: 50px;
  margin-bottom: 10px;
}
h2 {
  color:coral;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
a {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  color: rgb(161, 89, 161);
}
.a3 {
  margin-top: 30px;
  color: cornflowerblue;
}
